{% extends 'base.html.twig' %} {% block product %}

<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Roots</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
    </thead>
    {% for lineProduct in shopping_cart.getLineProductCarts() %}
    <tbody>
        <tr>
            <th scope="row">⠂</th>
            <td>{{lineProduct.getProducts().name}}</td>
            <td>{{lineProduct.getProducts().quantity}}</td>
            <td>{{lineProduct.getProducts().price}}€</td>
        </tr>
        
    </tbody>
    {% endfor %}
</table>


{# <article>
    <ul>
        <li>
            <h2>{{lineProduct.getProducts().name}}</h2>
        </li>
        <li>
            <p>{{lineProduct.getProducts().quantity}}</p>
        </li>
        <li>
            <p>{{lineProduct.getProducts().price}}€</p>
        </li>

        <li>
            <i class="fas fa-trash-alt"></i>
        </li>
    </ul>
</article>



{% endfor %} #}
<a href="{{path('validate_shopping_cart')}}" class="btn btn-primary">Validate Cart</a>
{% endblock product %} 
