{% extends 'base.html.twig' %}

{% block product %}
<article>
    <h2>{{product.name}}</h2>
    <img class="single"lt="{{product.name}}" src="{{ asset('uploads/article/' ~ product.imageName) }}">

    <p>{{product.description}}</p>
    <p>{{product.price}}€</p>
<p>{{product.quantity}}</p>

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
<a class="btn-outline-dark btn" href="{{path('add_product_id', {'id': product.id})}}">Add To Cart</a>

<a href="{{path('gestion_delete', {id:product.id})}}">Delete</a>
{% endif %}
  </article>

{% endblock product %}
